.statistic-table {
    &__cell {
        &.el-table__cell {
            height: 0;
            padding: 0 !important;
            flex-direction: column;
            .cell {
                height: 100%;
                padding: 0;
            }
        }

    }
}
